@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />
<h2>Index</h2>
<br />

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.foggy.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/site/home.js")"></script>
}